body{
    background-color:#1a1d20; 
    color:#acacac; 
    font-family:'Trebuchet MS', Arial, sans-serif;
}

h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    text-shadow: 4px 4px #e75454;
    text-transform: uppercase;
}

h2{
    font-size:2em;
    color:#ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 4px 4px #d44040;
    margin-top: 7%;
}

p{
    padding-left:50px; 
    padding-right:50px;
    text-align:justify;
    font-size:16px;
    line-height: 1.5;
}

hr{
    width:80%;
    background-color: #3b3b3b;
    border-color: #3b3b3b;
}

.border{
    border-style:hidden;
    height: 35%;
    width:70%;
    border-radius:5%; 
    background-color:#181818;
}

img{
    height: 150px;
    width: 250px;
    border-radius:30px;
}

#img1{
    float: left;
    margin-left: 8%;
}

#img2{
    float: right;
    margin-right: 8%;
}

#dog{
    float: right;
    margin-right: 8%;
    height: 100px;
    width: 150px;
    border-radius:30px;
}

#cat{
    float: left;
    margin-left: 8%;
    height: 100px;
    width: 150px;
    border-radius:30px;
}

#home{
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius:16px;
    color: #ffffff;
    background-color: #e12b38;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 90%;
}

#toplink{
    text-decoration: none;
    color: #ffffff;
    background-color: #e75454;
    cursor: pointer;
    border-radius:16px;
    padding: 10px 20px;
    font-size: 18px;
}