body{
    background-color:#d2d2d2;
}

.box{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../GALLERY/cl.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height:600px;
}

h1{
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 6em;
    font-family:'Courier New', Courier, monospace;
}

h3{
    text-align: center;
    color: #ffffff;
    font-size: 18px;     
    display: inline;
    font-weight: normal;
    font-family:'Courier New', Courier, monospace;
    padding: 20px;
    text-align: center;
}

.text{
    margin-left: 20%;
}

#f,#t{
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 24px;
    border-radius:50px;
    color: #ffffff;
    background-color: #ffdfb2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 12%;
}

.icon{
    margin-top: 2%;
    margin-left: 33%;
}

#home{
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius:16px;
    color: #ffffff;
    background-color: #d0444e;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 90%;
}